body {
    margin: 0 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #111111;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green {
	background: green;
}

.orange {
    background: orange;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    border-bottom: 1px solid;
}

h2 {
    color: #0072aa;
    font-weight: normal;
    margin-bottom: 1px;
}

a {
    color:#0072aa;
    text-decoration:none;
}

table.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}

